@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.modalContainer {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.contentBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 580px;
    height: 777px;
    padding: 30px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
}

.idolImg {
    width: 100%;
    height: 78%;
    object-fit: cover;
    border-radius: 10px;
}

.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    gap: 20px;
}

.contentWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nameGroupWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
}

.nameGroupWrapper p {
    font-size: 30px;
    color: #808080;
    font-weight: 100;
    margin: 0;
}

.nameGroupWrapper h1 {
    font-size: 50px;
    margin: 0;
}

.hits {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Pretendard-SemiBold';
    font-size: 30px;
    margin-top: 20px;
}

.hits :nth-child(1) {
    margin-top: 5px;
}

.countClassName {
    font-size: 30px;
}

.HeartIconClassName {
    font-size: 26px;
    margin-bottom: 5px;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
}

.info button {
    width: 120px;
    height: 120px;
    font-size: 50px;
    background-color: #3BF065;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 110px;
    height: 110px;
    font-size: 50px;
    background-color: #3BF065;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}