@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.modalContainer {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.contentBox {
    width: 580px;
    height: 788px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
}

.idolImg {
    width: 100%;
    height: 78%;
    object-fit: cover;
    border-radius: 10px;
}

.card {
    /* font-family: 'Pretendard-Regular'; */
}

.card p {
    font-size: 30px;
    /* margin-bottom: 20px; */
    margin-top: 20px;
    color: #808080;
    font-weight: 100;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
}

.info h1 {
    /* font-family: 'Pretendard-Regular'; */
    font-size: 50px;
}

.info button {
    width: 120px;
    height: 120px;
    background-color: #3BF065;
    font-size: 50px;
    border-radius: 100%;
    border: none;
}

.hits {
    display: flex;
    align-items: center;
    font-family: 'Pretendard-SemiBold';
}

.hits :nth-child(2) {
    font-size: 30px;
    padding-bottom: 5px;
}