.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    max-height: 100vh;
    overflow-y: auto;
    padding: 30px 400px 10px 400px;
    /* background-color: #fafafa; */
}

.card {
    text-align: center;
}

.idolImg {
    width: 300px;
    height: 442px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 90px;
    /* border: 2px solid #ddd; */
}