/* incall.css */

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
html, body {
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-weight: 600; /* 꼭 맞춰줘야 제대로 적용됨 */
    margin: 0;
    padding: 0;
    height: 100%;
  }


  
  .App {
    height: 100vh;
    margin: 0;
  }
  
  .background-image {
    background-image: url('../assets/images/callpage-background.png'); /* public 폴더 기준 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* 화면 전체 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
  }
  

  /* 폰 이미지 */
.phone-image {
    width: 300px;  /* 원하는 크기 */
    height: auto;
    z-index: 1;  /* 폰 이미지를 위로 올려줘야 함 */
  }
  

  .wing {
    width: 200px; /* 날개 이미지 크기 */
    height: auto; /* 비율 유지 */
  }
  
  .left-wing {
    margin-right: 10px; /* 왼쪽 날개와 폰 사이 간격을 좁힘 */
  }
  
  .right-wing {
    margin-left: 10px; /* 오른쪽 날개와 폰 사이 간격을 좁힘 */
  }

  .phone-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .phone-container {
    position: relative;
    height: 600px; /* 또는 적절한 값 (폰 이미지보다 조금 더 크게) */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .phone-children-inside {
    position: absolute;
    bottom: 7%; /* 폰 안에서 하단에서 조금 위 */
    left: 15%;
    transform: translateX(-50%);
    display: flex;
    gap: 60px;
    z-index: 2;
  }
  .phone-text {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: white;
    font-size: 1.3rem;
  }
  .phone-buttons {
    position: absolute;
    bottom: 12%;
    left: 10%;
    transform: translateX(-50%);
    display: flex;
    gap: 80px;  /* 버튼 간격 */
    z-index: 2;
  }
  
  /* 개별 버튼 */
  .phone-buttons img {
    width: 60px;
    height: auto;
    cursor: pointer;
  }

  
  .phone-children-inside img {
    width: 60px;
    height: auto;
    cursor: pointer;
  }

  @keyframes phone-shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    20% { transform: translate(-2px, 2px) rotate(-1deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    60% { transform: translate(-2px, 2px) rotate(-1deg); }
    80% { transform: translate(2px, -2px) rotate(1deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }
  
  .shaking-phone {
    animation: phone-shake 0.6s infinite;
  }

  .transition-wrapper {
    transition: transform 0.6s ease-in, opacity 0.6s ease-in;
    transform-origin: center center;
  }
  
  .zoom-out {
    transform: scale(1.2);
    opacity: 0;
  }
 /* incall 페이지에서만 적용할 스타일 */
.incall-page {
  
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* 화면을 꽉 채우도록 */
}

.dual-phone-container {
  
  display: flex;
  justify-content: center;
  gap: 40px; /* 폰 이미지 사이의 간격 */
  align-items: center; /* 세로로 중앙 정렬 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%); /* 화면 중앙에 배치 */
}

.single-phone {
  position: relative;
}

.single-phone img.dual-phone-image {
  width: 300px;
}
.end-call-button {
  z-index: 99;
  width: 40px;
  height: 40px;
  object-fit: contain;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.self-camera {
  position: absolute;
  top: 90px;
  left: 25px;
  width: 250px;
  height: 440px;
  border-radius: 10px;
  object-fit: cover;
  z-index: 3;
}
.speech-bubble-container {
  position: relative;
  width: 355px; /* 말풍선의 크기를 적당히 설정 */
  height: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2; /* 컨테이너가 다른 요소들 위로 보이도록 설정 */
  gap: 20px;
}

.speech-bubble-image {
  position: absolute;
  left: 0;
  width: 350px;
  height: 520px; /* 이미지가 전체 공간을 채우도록 설정 */
  object-fit: cover; /* 비율 유지하며 채우기 */
  z-index: 1; /* 이미지가 뒤로 가도록 설정 */
}

.question-text {
  font-family: 'Pretendard-SemiBold', sans-serif;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
  z-index: 2; /* 텍스트가 이미지 위에 오도록 설정 */
  font-weight: bold;
}

.options {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  z-index: 2; /* 버튼들이 텍스트 위로 보이도록 설정 */
}

.speech-bubble-option {
  z-index: 3;
  border: 1px solid #6C9CDF;
  font-family: 'Pretendard-SemiBold', sans-serif;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.options:hover .speech-bubble-option {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.options:hover .speech-bubble-option:hover {
  opacity: 1;
  background-color: rgba(108, 156, 223, 0.1); /* 선택 시 배경 강조 (선택사항) */
}


/* 선택된 옵션 */
.speech-bubble-option.selected {
  opacity: 1;
  background-color: rgba(108, 156, 223, 0.1);
  font-weight: bold;
}

/* 선택되지 않은 옵션 */
.speech-bubble-option.not-selected {
  opacity: 0.5;
}

.left-phone-video {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px;
  z-index: 2;
  
}

/* incall.css */
.callEndedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체를 채움 */
  background-image: url('../assets/images/callend-background.png'); /* 배경 이미지 경로 */
  background-size: cover; /* 배경 이미지 크기 자동 조정 */
  background-position: center; /* 배경 이미지 위치 중앙 정렬 */
  background-repeat: no-repeat; /* 배경 이미지 반복하지 않음 */
  text-align: center; /* 텍스트 중앙 정렬 */
  position: relative;
}

.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.callEndedImageContainer {
  position: relative;
  display: inline-block;
  text-align: center;
}

.callEndedImage {
  width: 800px;
  height: auto;
  display: block;
}

.callEndedText {
  font-family: "Modak", system-ui;
  font-size: 55px;
  font-weight: 400;
  color: white;
  -webkit-text-stroke: 1px #71ABFB;
  position: absolute;
  top: 25%; /* 중앙 이미지의 상단에서 20% 위치 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* 텍스트가 이미지 위에 올라가도록 설정 */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 15%; /* 중앙 이미지 아래쪽 20% 위치 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* 버튼이 텍스트 위에 오도록 설정 */
}

.buttonImage {
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.buttonImage:hover {
  transform: scale(1.1); /* 버튼 이미지 확대 효과 */
}

.callEndedContainer {
  opacity: 0;
  transform: scale(0.9);
  animation: fadeIn 1s ease forwards; /* 1초 동안 fadeIn 애니메이션 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}