@font-face { font-family: 'HakgyoansimDunggeunmisoTTF-B'; 
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') 
    format('woff2'); font-weight: 700; font-style: normal; }
.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 배경 이미지를 컨테이너에 맞게 */
    height: 100vh;
    z-index: 0; /* 뒤에 배경 이미지 */
}

.Home-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    -webkit-text-stroke: 3px #71ABFB;
    font-size: 130px;
    font-weight: 700;
    font-family: 'HakgyoansimDunggeunmisoTTF-B', sans-serif;
  }

.idol-back {
    position: absolute;
    bottom: 0;  /* 화면 하단에 위치 */
    left: 0;
    width: 100%; /* 배경 이미지를 컨테이너에 맞게 */
    height: 666px;
    z-index: 1; /* homebackground 이미지가 background-img 위에 오도록 */
}

.idol-img {
    position: absolute;
    z-index: 2; /* 아이돌 이미지가 다른 이미지들 위에 오도록 */
    width: 100px; /* 예시 크기 */
    height: auto; /* 비율에 맞춰 자동으로 높이 조정 */
}

.mark {
    top: 739px;
    left: 1038px;
    width: 345px;
    height: 345px;
    z-index: 3;
}

.mjh {
    top: 739px;
    left: 499.08px;
    width: auto;
    height: 450px;
    z-index: 4;
}

.so {
    top: 710px;
    left: 687px;
    width: 438px;
    height: 580px;
    z-index: 5;

}
.ys{
    top: 739px;
    left: 320px;
    width: 308px;
    height: 404px;
    z-index: 3;
}
.jh{
    top: 422px;
    left:188px;
    width: 453px;
    height: 679px;
    z-index: 1;
}
.lh{
    top: 661px;
    left: -100px;
    width: auto;
    height: 568px;
    z-index: 2;
}
.wy{
    top: 324px;
    left: -150px;
    width: auto;
    height: 712px;
}
.sh{
    top:579px;
    left: 1351px;
    width: 375px;
    height: 666px;
}
.hn{
    top: 385px;
    left: 400px;
    width: auto;
    height: 749px;
    z-index: 1;
}
.krn{
    top: 445px;
    left: 820px;
    width: 345px;
    height: 505px;
    z-index: 2;
}
.yj{
    top: 456px;
    left: 1238px;
    width: 456px;
    height: 532px;
    z-index: 1;
}
.yuj{
    top:300px;
    left: 1400px;
    width: 690px;
    height: 760px;
    z-index: 1;
}
.mj{
    top: 248px;
    left: 1000px;
    width: auto;
    height: 835px;
    z-index: 2;
}
.sw{
    top: 743px;
    left: 1590px;
    width: auto;
    height: 385px;
}