@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-R';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

.backgroundImg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    color: #FFFFFF;
    -webkit-text-stroke: 3px #71ABFB;
    font-size: 128px;
    margin: 89px 0 38px 0;
}

.letterBox {
    display: flex;
    align-items: center;
}


.letter {
    background-color: #FFFBF8;
    padding: 30px;
    min-width: 670px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    margin: 0 60px 0 60px;
}

/* letterView 별도 스타일 지정*/
.letter.letterViewSmall {
    min-width: 450px;
    /* margin: 80px 20px 30px 50px; */
}

.letter.letterViewSmall .letterContainer {
    padding: 0 20px 0 20px;
}

.letter.letterViewSmall .textarea {
    width: 350px;
    min-height: 300px;
    max-height: 300px;
    font-size: 16px;
    line-height: 30px;
    background-size: 100% 30px;
    /* 배경이 콘텐츠랑 같이 스크롤롤 */
    background-attachment: local;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-line;
    box-sizing: border-box;
    padding-right: 16px;

    scrollbar-width: thin;
    scrollbar-color: #bbb #f0f0f0;
}
/* 
.textarea::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

.textarea::-webkit-scrollbar-track {
    background: transparent;
}

.textarea::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.textarea:hover {
    scrollbar-color: #bbb #eee;
}

.textarea:hover::-webkit-scrollbar-thumb {
    background: #bbb;
}

.textarea:hover::-webkit-scrollbar-track {
    background: #eee;
}
.textarea::-webkit-scrollbar-thumb:hover {
    background: #888 !important;
} */

.letter.letterViewSmall .to,
.letter.letterViewSmall .nickNameInputContainer {
    font-size: 20px;
}


.closeBtn {
    color: #6C9CDF;
    border: none;
    background-color: transparent;
    font-size: 60px;
    width: 100%;
    text-align: right;
    padding-right: 20px
}

.letterContainer {
    padding: 0 47px 0 47px;
}

.headerContainer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* padding: 0 47px 0 47px; */
}

.to,
.from {
    font-size: 25px;
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    margin-bottom: 10px;
    margin-top: 10px;
}

.textarea {
    width: 530px;
    min-height: 400px;
    font-size: 25px;
    line-height: 36px;
    font-family: 'HakgyoansimDunggeunmisoTTF-R';
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;

    background-image: linear-gradient(to bottom, transparent calc(100% - 2px), #FFEAE2 2px);
    background-size: 100% 36px;
    background-repeat: repeat-y;
    /* 배경도 같이 스크롤 */
    background-attachment: local;

    color: #000;

    overflow: visible;
    white-space: pre-wrap;
    word-break: break-word;

    font-weight: 100;
}



.hrLine {
    border: none;
    height: 2px;
    background-color: #FFEAE2;
}

.sendBtn {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    color: #71ABFB;
    font-size: 40px;
    border: none;
    background: none;
    position: absolute;
    bottom: 50px;
    right: 60px;
}

.nickNameInputContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    font-size: 25px;
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    margin-bottom: 10px;
    margin-top: 10px;
    /* width: 100%; */
}

.nickNameInput {
    border: none;
    background: none;
    outline: none;
}

input {
    border: none;
    background: none;
    outline: none;
    font-size: 25px;
    width: 15%;
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
}